<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="usuarios.component.css">
    <title>Usuarios</title>
</head>

<body>

    <header>
        <div>
            <h2>Usuarios</h2>
            <nav>

                <button (click)="mostrarModal()">
                    <span>
                        <svg height=" 24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                        </svg>
                        Crear Usuario
                    </span>
                </button>



            </nav>
        </div>
    </header>

    <app-modal-usuario *ngIf="mostrarModalUsuario" (cerrarModalEvent)="cerrarModal()"></app-modal-usuario>




</body>

</html>