<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Usuario</title>
    <link rel="stylesheet" href="modal-usuario.component.css">
</head>

<body>
    <div class="modal-overlay">
        <div class="modal-content">

            <section class="form-modal">
                <h4>Registrar Usuario</h4>
                <label class="labels" for="Nombre">Nombre</label>

                <input class="controls" type="text" id="nombre" placeholder="Ingrese su nombre"
                    [(ngModel)]="nuevoUsuario.nombre">
                <label class="labels" for="Correo">Correo Electronico</label>
                <input class="controls" type="email" id="correo" placeholder="correo" [(ngModel)]="nuevoUsuario.correo">
                <label class="labels" for="Contraseña">Contraseña</label>
                <input class="controls" type="password" id="contraseña" placeholder="Ingrese su contraseña"
                    [(ngModel)]="nuevoUsuario.contrasena">

                <label class="labels" for="Rol">Rol</label>
                <input class="controls" type="text" id="rol" placeholder="Ingrese el rol"
                    [(ngModel)]="nuevoUsuario.rol">
                <div class="botons-container">

                    <button class="botons" (click)="onCrearUsuario()">Crear Usuario</button>
                    <button class="botons" (click)="cerrar()">Cancelar</button>

                </div>

            </section>

        </div>
    </div>

</body>

</html>