<!-- tabla-usuarios.component.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

</head>

<body>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Contraseña</th>
                    <th>Rol</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>{{ usuario.contrasena }}</td>
                    <td>{{ usuario.rol }}</td>
                    <td>

                        <button class="button-with-icon-edit" (click)="editarUsuario(usuario)">
                            <span class="material-symbols-outlined icon azul">edit</span>
                            <span class="text">Editar</span>
                        </button>
                        <button class="button-with-icon" (click)="eliminarUsuario(usuario.id)">
                            <span class="material-symbols-outlined icon">delete</span>
                            <span class="text">Eliminar</span>
                        </button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>